
.container {
  background-color: #58A4B0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;

  .card {
    background-color: #58A4B0;
    border: none;

    .cardBody {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-size: x-large;
      color: #02040F;
    }
  }

  .image {
    max-height: 450px;
  }

  .arrow {
    max-height: 50px;
  }
}



