.container {
  border-top-color: black;
  border-top-width: 2px;
  border-top-style: solid;
  display: flex;
  padding: 2% 0;
}

div.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.textContainer {
  width: 100%;
  text-align: left;
}

.textContainer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

div.namePrice {
  display: flex;
  justify-content: space-between;
}
