div.container {
  .card {
    margin: 3% 0;
    padding: 3%;

    .cardTitle {
      text-align: center;
      font-family: "Antonio", sans-serif;
      font-size: xx-large;
      padding-top: 3%;
      color: #02040f;
    }
  }

  .button {
    margin-right: 2%;
  }
}

div.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

div.textContainer {
  width: 100%;
  text-align: left;
}

div.namePrice {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #02040f;
}
p.boldText {
  font-weight: bold;
}

.price {
  font-size: 30px;
}

div.button {
  text-align: center;
}

div.link {
  border-width: 3px;
  border-color: red;
  border-style: solid;
}
